<VirtualHost *:80>
    DocumentRoot "/opt.old/www/snitches/public"
    ServerName www.snitches.dev
    ErrorLog "logs/snitches-error_log"
    CustomLog "logs/snitches-access_log" common

        SetEnv APPLICATION_ENV development
        SetEnv APPLICATION_REGION us

    <Directory /opt.old/www/snitches/public>
      Options -Indexes +FollowSymLinks
      AllowOverride None
      Require all granted

        RewriteEngine On
        RewriteCond %{REQUEST_FILENAME} -s [OR]
        RewriteCond %{REQUEST_FILENAME} -l [OR]
        RewriteCond %{REQUEST_FILENAME} -d
        RewriteRule ^.*$ - [NC,L]
        RewriteRule ^.*$ index.php [NC,L]

    </Directory>
</VirtualHost>
